.strip-container {
    margin: 2vw;
}

.form-group {
    margin-top: 1vw;
}

.btn {
    margin-left: 1vw;
    margin-right: 1vw;
}

.strip-row {
    height: 1vw;
}

.stripe-row-numbering {
    width: 1%;
    text-align: right;
    padding-right: 5px;
}

.stripe-row-color-text {
    width: 1%;
    padding-left: 5px;
    padding-right: 5px;
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.fourth {
    width: 25%;
}

.form-action {
    width: -webkit-fill-available;
}

.invalid-feedback {
    display: inherit;
}

.print-table * {
    border-width: 1px;
    border-color: black;
}