<p [hidden]="printFriendly">
    This generator randomly creates a chunk between 1 and 4 lines and 
    creates a stripe pattern from the selected colors up to the given row number by default.
</p>

<form [formGroup]="stripeGeneratorForm" class="form-group" (submit)="submit($event)" [hidden]="printFriendly">
  <div class="form-element">
    <label for="colorOne">Color 1</label>
    <input type="color" class="form-control" id="colorOne" aria-describedby="colorOne" placeholder="Select a color" formControlName="colorOne">
    <small id="colorOneHelp" class="form-text text-muted">Select first color</small>
  </div>
  <div class="form-element">
    <label for="colorTwo">Color 2</label>
    <input type="color" class="form-control" id="colorTwo" aria-describedby="colorTwo" placeholder="Select a color" formControlName="colorTwo">
    <small id="colorTwoHelp" class="form-text text-muted">Select second color</small>
  </div>
  <div class="form-element">
    <label for="rows">Rows</label>
    <input type="number" inputmode="numeric" class="form-control" id="rows" placeholder="Select a the number" formControlName="rows">
    <small id="colorTwoHelp" class="form-text text-muted">Select a the number</small>
    <div class="invalid-feedback" [hidden]="isFormControlValid('rows')">Values between 1 and 10000 are only allowed!</div>
  </div>

  <br />

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Advanced Pattern Configuration
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" formArrayName="stripePatternConfiguration">
          <div class="form-element">
            <div style="display: flex; justify-content: space-between;">
              <label for="rows">Stripe Pattern Configuration</label>
              <div>
                <button type="button" [disabled]="stripePatternConfigurationControls.length >= 10"(click)="appendStripePatternConfigurationItem()" class="btn btn-primary config-action">Add +</button>
                <button type="button" [disabled]="stripePatternConfigurationControls.length <= 1" (click)="popStripePatternConfigurationItem()" class="btn btn-primary config-action">Remove -</button>
                <button type="button" (click)="randomizeStripePatternConfiguration()" class="btn btn-primary config-action">Randomize</button>
                <button type="button" (click)="resetStripePatternConfigurationItem()" class="btn btn-primary config-action">Reset</button>
              </div>
            </div>

            <table class="form-table full">
              <tr>
                <th>Line Number</th>
                <th>Used</th>
                <th>Probability</th>
              </tr>
              @for (stripConfigItem of stripePatternConfigurationControls; track $index; let idx = $index) {
              
              <tr class="form-group" [formGroupName]="idx">
                  <td>{{idx + 1}}</td>
                  <td>
                    <input type="checkbox" class="form-check-input" placeholder="Check if required" formControlName="used">
                  </td>
                  <td>
                    <input type="range" min="1" max="200" class="form-control" placeholder="Select a the number" formControlName="probability">
                    {{stripConfigItem.get('probability')?.value}}
                  </td>
              </tr>
              }
            </table>
            <small id="colorTwoHelp" class="form-text text-muted">Maximum chunk size: {{stripePatternConfigurationControls.length}} lines</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  
  <table class="full">
    <tr>
        <td class="half">
            <button type="submit" [disabled]="!stripeGeneratorForm.valid" class="btn btn-primary form-action"><strong>Generate</strong></button>
        </td>
        <td class="fourth">
            <button type="button" id="print-button" onClick="window.print()" class="btn btn-secondary form-action"><strong>Print</strong></button>
        </td>
        <td class="fourth">
            <button type="button" (click)="togglePrintFriendly()" class="btn btn-secondary form-action">Show&nbsp;Print&nbsp;Friendly</button>
        </td>
    </tr>
  </table>
</form>

<br />

<table class="strip-container" [hidden]="printFriendly">
@for (strip of pattern; track $index) {
    <tr>
        <td class="stripe-row-numbering">{{$index + 1}}.</td>
        <td class="stripe-row-color-text">{{getColorNameForCode(strip)}}</td>
        <td class="stripe-row" [style]="{'background-color': strip}"></td>
    </tr>
}
</table>


<div [hidden]="!printFriendly">
<button class="half" type="button" (click)="togglePrintFriendly()">Back to Configuration</button>
<button class="half" type="button" onClick="window.print()">Print</button>
<br>
<br>
<table class="print-table full">
  <tr>
      <th>Row</th>
      <th>Color</th>
      <th>Note</th>
  </tr>
  @for (strip of pattern; track $index) {
  <tr>
      <td>{{$index + 1}}.</td>
      <td>{{getColorNameForCode(strip)}}</td>
      <td></td>
  </tr>
  }
</table>
</div>